*{
          margin: 0;
          padding: 0;

}

nav{
        
     display: flex;
      justify-content:space-around; 
      align-items: center;  
          
          
}

nav ul ,li{
          display: flex;
          margin-right: 15px;
           
        
}

.btn{
          background-color: #1D4ED8;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          margin-right: 50px;
}